@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
	width: 400px;
	height: 300px;
	background-color: #fbc79d;
}

header {
	background-color: #8ba8da;
	text-align: center;
	font-size: 17px;
	font-family: Lobster;
	width: 100%;
	position: absolute;
	left: 0;
}

h1 {
	padding: -60px;
}

main {
	padding-top: 80px; 
	text-align: center;
	font-family: Quicksand;
	font-size: 16px;
}

#workTime, #lunchTime, #resultMessage {
	margin: 20px;
}

#endTime {
	font-style: italic;
}

input {
	width: 50px;
	border-radius: 8px;
	margin: 4px;
}

.cell {
	margin: 15px;
}

.row > div {
	display: inline-block;
}

#endTime, #startTime {
	display: none;
}
