@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
	width: 400px;
	height: 100px;
	background-color: #fbc79d;
}

header {
	background-color: #c0d0ed;
	text-align: center;
	font-family: Lobster;
	width: 100%;
	position: absolute;
	left: 0;
	/* height: 60px; */
	vertical-align: middle;
}

h1 {
	/* padding: -60px; */
	/* vertical-align: middle; */
	font-size: 30px;
}

main {
	padding-top: 80px; 
	text-align: center;
	font-family: Quicksand;
	font-size: 16px;
	margin: 20px;
}

#workTime, #lunchTime, #messages {
	margin: 20px;
}

#lunchMessage {
	margin: 10px;
}

#resultMessage {
	margin-top: 10px;
}

input {
	width: 50px;
	border-radius: 8px;
	margin: 0px 4px;
	text-align: center;
}

.cell {
	margin: 10px 15px;
}

.row > div {
	display: inline-block;
}

#endTime {
	font-style: italic;
}

#endTime, #startTime, #errors, #lunchMessage {
	display: none;
}

#errors {
	font-size: 11px;
	font-style: italic;
}
